.filter-container {
    margin-bottom: 32px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    min-width: 300px;
    font-size: 16px;
    vertical-align: top;
}
.statusfilter-container {
    float: right;
}
@media(max-width: 1260px){
    .statusfilter-container {
        float: none;
    }
}
.statusfilter-container .statusfilter {
    font-size: 125%;
    cursor: pointer;
    display: inline-block;
}
ul.directory-list.filterable {
	display: grid;
	position: relative;
	grid-template-columns: repeat(3,minmax(1px,1fr));
	grid-gap: 35px 10px;
	padding: 50px 120px;
}
@media(max-width:1250px) {
    ul.directory-list.filterable {
        display: grid;
	position: relative;
	grid-template-columns: repeat(2,minmax(1px,1fr));
	grid-gap: 35px 10px;
	padding: 50px 120px;
    }
}
@media(max-width:975px) {
    ul.directory-list.filterable {
        display: grid;
	position: relative;
	grid-template-columns: repeat(1,minmax(1px,.35fr));
	grid-gap: 5px 5px;
	padding: 50px 20px;
    }
}
.statusfilter-container .current {
    text-decoration: underline;
}
@media all and (max-width: 599px) {
    .filter-container {
	display: block;
	width: 100%;
    }
    .filter-container ul {
	width: 100%;
	position: absolute;
	max-height: 80vh;
    }
    .statusfilter-container {
        float: none;
        padding-bottom: 25px;
    }
}
@media all and (max-width: 499px) {
    .filter-container {
	padding: 0 2.5%;
    }
    .filter-container ul {
	left: 2.5%;
    }
}
.filter-container > span {
    color: #86847d;
    font-size: 16px;
    margin-right: 10px;
}
.filter-container .filter-label {
    background: #8f8f8f;
    width: auto;
    min-width: 100px;
    display: inline-block;
    vertical-align: middle;
    padding: 14px 40px 14px 10px;
    position: relative;
    font-weight: bold;
    color: white;
    cursor: pointer;
    max-width: 18em;
}

.filter-container .filter-label .icon {
    position: absolute;
    right: 15px;
    font-size: 16px;
    top: 1.25em;
}
.filter-container ul {
    background: #8f8f8f;
    max-width: 320px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 53px;
    left: 0;
    z-index: 2;
    display: none;
}
.directory .filter-container ul {
    height: 500px;
    overflow: auto;
    cursor: pointer;
}
.filter-container ul li {
    padding: 15px 20px;
}
.filter-container ul li:hover {
    background-color: #002f5d; /* byu nav blue */
}
.input-container {
    display: inline-block;
    position: relative;
    padding: 12px 12px 11px 40px;
    background: #8f8f8f;
}
.input-container:before {
    font-family: 'byu-icons';
    content: "\f002";
    color: white;
    position: absolute;
    top: 14px;
    left: 17px;
}
.input-container input.search[type="text"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 21px;
    background: #8f8f8f;
    color: white;
    margin: 0;
    border: none;
    outline: none;
    font-family: "HCo Ringside Narrow SSm", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    display: inline-block;
}
.input-container input.search[type="text"]::-webkit-input-placeholder {
    color: #fff;
    text-transform: uppercase;
}
.input-container input.search[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    text-transform: uppercase;
}
.input-container input.search[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    text-transform: uppercase;
}
.input-container input.search[type="text"]:-ms-input-placeholder {
    color: #fff;
    text-transform: uppercase;
}

.directory .input-container {
    margin-right: 7px;
}
@media all and (max-width: 599px) {
    .directory .input-container {
	display: block;
	width: 100%;
	margin-bottom: 10px;
    }
}
@media all and (max-width: 499px) {
    .directory .input-container {
	margin: 0 auto 10px;
	width: 95%;
    }
}
.directory .input-container input[type="text"] {
    display: inline-block;
    width: 100%;
}
@media all and (max-width: 599px) {
    .directory .filter-container {
	display: block;
	width: 100%;
    }
    .directory .filter-container .filter-label {
	display: block;
	width: 100%;
    }
    .directory .filter-container ul {
	width: 100%;
    }
}
@media all and (max-width: 499px) {
    .directory .filter-container {
	padding: 0 2.5%;
    }
    .directory .filter-container ul {
	left: 2.5%;
    }
}
.directory ul.directory-list li {
    color: #8f8f8f;
    display: table;
    display: grid;
    grid-template-columns: 100px 165px;
}
@media all and (max-width: 975px) {
    .directory ul.directory-list li {
	display: grid;
    }
}
.directory ul.directory-list li .image-container {
  width: 5em;
  height: 7em;
  display: table-cell;
  list-style: none;
  vertical-align: top;
}
@media all and (max-width: 975px) {
    .directory ul.directory-list li .image-container {
	display: inline-block;
	height: 150px;
	width: 100%;
    }
}

.directory ul.directory-list li .content .link.phone {
    color: #0062B8;
}

.directory-list .filterable-item .content h5 {
	color: #333;
	font-size: 17px;
    line-height: 1.23529412;
    font-weight: 405;
	margin: 0;
	font-weight: 500;
}

.directory ul.directory-list li .content {
    display: table-cell;
    padding: 0;
    position: relative;
}
@media all and (max-width: 699px) {
    .directory ul.directory-list li .content {
	padding: 20px;
    }
}
.directory ul.directory-list li .content h4 {
    text-transform: none;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: "HCo Ringside Narrow SSm", "Open Sans", Helvetica, Arial, sans-serif;
}
@media all and (max-width: 699px) {
    .directory ul.directory-list li .content h4 {
	padding-bottom: 15px;
	border-bottom: 1px solid #b3b1a9;
    }
}
.directory ul.directory-list li .content .link {
    font-size: 16px;
    color: #666;
    display: inline-block;
    padding: 0;
    position: relative;
    font-weight: 500;
}
.directory ul.directory-list li .content .link:first-of-type {
    padding-left: 0;
}
.directory ul.directory-list li .content .link:last-of-type {
    border-right: none;
}
@media all and (max-width: 699px) {
    .directory ul.directory-list li .content .link {
	border: none;
	padding: 0;
	display: block;
	margin-top: 15px;
    }
}
.directory ul.directory-list li .content .link .icon {
    display: none;
}
.directory ul.directory-list li .content .cta {
    position: absolute;
    right: 32px;
    top: 20px;
}
@media all and (max-width: 699px) {
    .directory ul.directory-list li .content .cta {
	position: static;
	margin-top: 20px;
    }
}
.profile-content .text-content {
	padding-left: 2em;
}

.person h1 a:hover, .person h2 a:hover, .person h3 a:hover, .person h4 a:hover {
    color: #002e5d;    
    /* TODO */
}

.image-container img.directory-portrait {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* The theme sticks featured images here, but sometimes or always we don't want them */
.single #header-image-main {
    display: none;
}

.single .image-container {
    max-width: 25%;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem; 
}

.single .profile-content img {
	border-style: solid;
	border-radius: 0.75em;
}

.single #content {
    margin-top: 10rem;
}

.single .content {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
}

.single .content ul {
    margin-left: 1em;
}

.personal-info-box {
    margin-top: 2rem;
}

/*adding underline to research areas list on profiles*/
.research_areas_list{
	text-decoration:underline;
}